block content
  .section
    p Этикетки
      .section
        ol
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
          li.li krakovckaya
          li.li moskovskaya
  .section#sectionButton
    button.hostButton Добавить
  hr
