block content
  .section
    p Тип верстки
      ul.type
        li.li
          input(type="checkbox" checked)
          span.input Стандартная
        li.li
          input(type="checkbox")
          span.input Утверждение
        li.li
          input(type="checkbox")
          span.input Разделитель
  hr
