/*Your styles*/
.section {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  width: 100%;
}
#sectionButton {
  text-align: center;
}
.rollParams {
  width: 100%;
  height: 60px;
}
.templateParams {
  height: 40px;
  width: 100%;
}
select {
  float: left;
  width: 100%;
  height: 20px;
}
option {
  display: block;
  height: 20px;
  width: 100%;
}
.input {
  padding-left: 5px;
  width: 90px;
}
input {
  display: inline;
  float: left;
}
p {
  margin-bottom: 4px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.li {
  text-align: left;
  float: left;
  margin-bottom: 2px;
}
ol {
  padding-left: 20px;
  padding-right: 0px;
  max-height: 200px;
  overflow-y: auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
form {
  height: 40px;
}
.sampleColor {
  width: 13px;
  height: 13px;
}
.hotFolder {
  color: black;
  font-weight: bolder;
}
.ink {
  height: 100px;
}
.type {
  height: 40px;
}
.search {
  float: right;
  display: inline;
}
.reportSearch {
  color: red;
  float: left;
}
hr {
  margin-top: 4px;
  margin-bottom: 4px;
}
/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor {}
.hostFontFamily {}
.hostFontSize {}

/*font family, color and size*/
.hostFont {}
/*background color*/
.hostBgd {}
/*lighter background color*/
.hostBgdLight {}
/*darker background color*/
.hostBgdDark {}
/*background color and font*/
.hostElt {
  width: 150px;
  padding-left: 6px;
  padding-right: 6px;
}
.hostButton {
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  vertical-align:bottom;
  font-family:inherit;
  color:inherit;
  font-size:inherit;
}
#searchButton {
  width: 46px;
  height: 18px;
}
