block body
  .section
    p Красочность
      ul.ink
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: white" width="13" height="13" x="0" y="0")
          span Opaque
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: cyan" width="13" height="13" x="0" y="0")
          span Cyan
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: magenta" width="13" height="13" x="0" y="0")
          span Magenta
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: yellow" width="13" height="13" x="0" y="0")
          span Yellow
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: black" width="13" height="13" x="0" y="0")
          span Black
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: orange" width="13" height="13" x="0" y="0")
          span Orange
        li
          input(type="checkbox")
          svg.sampleColor
            rect(style="fill: blue" width="13" height="13" x="0" y="0")
          span Violet
  hr
