block body
  .section
    p Этикетки
      .section
        ol
          li.li krakovckaya
          li.li moskovskaya
  .section#sectionButton
    button.hostButton(onclick="addLabels()") Добавить
  hr
