block body
  .section
    p= locals.t.labels
      .section
        ol
          li.li(ng-repeat="label in workset.label_stock")
            p(ng-bind="getLabelName(workset.label_stock[$index])")
  .section#sectionButton
    button.hostButton(ng-click="addLabels()") Добавить
    button.hostButton(ng-click="removeLabels()") Удалить все
  hr
