block body
  .section
    p Намотка
      .rollParams
        select
          option Ручная
          option Автоматическая
        select
          option Наружная
          option Внутренняя
        select
          option Головой к машине
          option Ногами к машине
          option Ногами вперед
          option Головой вперед
  hr
