block body
  .section
    p Намотка
      .rollParams
        select
          option(ng-model="workset.roll_method" ng-selected="{{workset.roll_method == 'hand'}}" value="hand") Ручная
          option(ng-model="workset.roll_method" ng-selected="{{workset.roll_method == 'auto'}}" value="auto") Автоматическая
        select
          option(ng-model="workset.roll_type" ng-selected="{{workset.roll_type == 'outside'}}" value="outside") Наружная
          option(ng-model="workset.roll_type" ng-selected="{{workset.roll_type == 'inside'}}" value="inside")  Внутренняя
        select
          option(ng-model="workset.roll_direct" ng-selected="{{workset.roll_direct == 'head_mashine'}}" value="head_mashine") Головой к машине
          option(ng-model="workset.roll_direct" ng-selected="{{workset.roll_direct == 'foot_mashine'}}" value="foot_mashine") Ногами к машине
          option(ng-model="workset.roll_direct" ng-selected="{{workset.roll_direct == 'foot_forward'}}" value="foot_forward") Ногами вперед
          option(ng-model="workset.roll_direct" ng-selected="{{workset.roll_direct == 'head_forward'}}" value="head_forward") Головой вперед
  hr
