block body
  .section
    p Шаблон
      form
        input.input(ng-model="workset.template_number" ng-change="validateTemplate()" type="text")
        span.reportSearch(ng-bind="workset.template_alert.message")
  hr
