block body
  .section
    p Шаблон
      form
        input(type="text").input
        button.hostButton#searchButton(style="float: right" onclick="validateTemplate()") Найти
        span.reportSearch Шаблон не найден
  hr
