block body
  .section
    p Шаблон
      form(ng-model="workset.template.number")
        input.input(ng-model="workset.template.number" ng-change="validateTemplate()" type="text")
        span.reportSearch(ng-bind="workset.template.message")
  hr
