block body
  .section
    p Шаблон
      form
        input(type="text" value="1234567").input
        button(style="float: right").hostButton#searchButton Найти
        span.reportSearch Шаблон не найден
  hr
