block body
  .section
    p Тип верстки
      ul.type
        li.li(ng-repeat="type in workset.collection_type")
          input(ng-model="workset.collection_type[$index].used" type="checkbox")
          span.input(ng-bind="workset.collection_type[$index].name")
  hr
